# 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

|과목|점수|
|----|:---:|
|국어|80|
|영어|75|
|수학|55|

In [2]:
# 첫번째 풀이

국어=80
영어=75
수학=55
(국어+영어+수학)/3

70.0

In [40]:
# 답 확인하고 다시 풀기

국어 = 80
영어 = 75
수학 = 55
과목 = [국어, 영어, 수학]
과목총합 = 국어 + 영어 + 수학
과목평균 = 과목총합/len(과목)
print(과목평균)

70.0

In [ ]:
# A1

국어 = 80
영어 = 75
수학 = 55
과목 = [국어, 영어, 수학]
과목점수합계 = 국어 + 영어 + 수학
과목점수평균 = 과목점수합계/len(과목)
print(과목점수평균)

# 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [43]:
# 첫번째 풀이

13%2
# 나머지가 1이면 홀수, 0이면 짝수

In [42]:
# 답 확인하고 다시 풀기

print(13%2, '1이면 홀수')

1 1이면 홀수

In [36]:
# A2

print(13%2,'나머지가 있으면 홀수')

1 나머지가 있으면 홀수

# 홍길동 씨의 주민등록번호는 881120-1068234이다.   
홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.
```
pin = '881120-1068234'
yyyymmdd = # 입력
num =  # 입력
print() # 연월일 부분 출력
print() # 숫자부분 출력
```

In [44]:
# 첫번째 풀이: 맞음

pin = '881120-1068234'
# 연월일, 뒷번호 = 주민번호.split('-')
# print(연월일, 뒷번호)
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

# 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.   
주민등록번호에서 성별을 나타내는 숫자를 출력해보자.
```
pin = "881120-1068234"
print( )
```

In [8]:
# 첫번째 풀이: 맞음

pin = "881120-1068234"
print(pin[7])

1

# 다음과 같은 문자열 a:b:c:d가 있다.   
문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해보자.
```
a = "a:b:c:d"
b =
print(b)
```

In [9]:
# 첫번째 풀이: 맞음

a = "a:b:c:d"
b = a.replace(':', '#')
print(b)

a#b#c#d

# [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
```
a = [1, 3, 5, 4, 2]
a.
a.
print()
```

In [14]:
# 첫번째 풀이: 맞음

a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

# ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.
```
a = ['Life', 'is', 'too', 'short']
result =
print(result)
```

In [15]:
# 첫번째 풀이: 맞음

a = ['Life', 'is', 'too', 'short']
result =' '.join(a)
print(result)

Life is too short

# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
```
a = (1, 2, 3)
a =
print(a)
```

In [35]:
# 첫번째 풀이

a = (1, 2, 3)
a = list(a)
a.append(4)
print(tuple(a))

(1, 2, 3, 4)

In [47]:
# 답 확인하고 다시 풀기

a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [ ]:
# A8

a = (1, 2, 3)
a = a + (4,)
print(a)

# 다음과 같은 딕셔너리 a가 있다.
```
>>> a = dict()
>>> a
{}
```
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [ ]:
# 첫번째 풀이

2번. 딕셔너리 안에는 튜플을 넣을 수 없음

In [49]:
# A9
# 딕셔너리의 키로는 변하는(mutable)값을 사용할 수 없다. 리스트는 수정 가능

a = dict()
a['name'] = 'python'
print(a)
a[('a',)] = 'python'
print(a)
a[250] = 'python'
print(a)
a[[1]] = 'python' 
print(a)

TypeError: unhashable type: 'list'

# 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
```
a = {'A':90, 'B':80, 'C':70}
result =
print(a)
print(result)
```

In [26]:
# 첫번째 풀이: 맞음

a = {'A':90, 'B':80, 'C':70}
result = a['B'] # a.pop('B')
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

# a 리스트에서 중복 숫자를 제거해 보자.
```
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =
b =
print(b)
```

In [22]:
# 첫번째 풀이: 맞음

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

# 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.   
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게될까?   
그리고 이런 결과가 나오는 이유에 대해 설명해보자.
```
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
```

In [21]:
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)

[1, 4, 3]

In [ ]:
b = [1, 4, 3]
a와 b의 주소가 같기 때문에 a 변경 시 함께 변경됨